/* first section */

.media__first_page {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    z-index: 1;
    background-image: url('../images1/Media_and_news-min.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.buiseness_dot {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    opacity: 0.5;
}

#media__main {
    width: 100%;
    /* border: 1px solid red; */
    height: 100vh;
    box-sizing: border-box;
    color: white;
    padding-top: 250px;
}

.rm_med_front1122{
width: 11%;
margin-left: 82%;
z-index: 5 !important;
}

.media__head {
    border: 2px solid rgb(9, 226, 226);
    width: 10%;
    margin-left: 82.5%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.media__news__head {
    text-align: end;
    box-sizing: border-box;
    border-right: 3px solid white;
    padding-right: 20px;
    width: 44%;
    margin-left: 48.5%;
}

.media__news {
    font-size: 35px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ff006f 70%, #9d00fa );
}

.media__news__text {
    font-size: 18px;
    width: 60%;
    margin-left: 40%;
    font-weight: 600;
}

/* down Arrow */
.arrow_right32 {
    position: absolute;
    bottom: 10%;
    left: 91%;
    transform: translate(-50%, -50%);
    transform: rotate(360deg);
    cursor: pointer;
}

.arrow_right32 span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(90deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow_right32 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow_right32 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* second section */

#Media_sec_two_mainDiv {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 50px;
    position: relative;
    z-index: 2;
}

.Latest_News {
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #9d00fa 80%, #ff006f);
}

#Media_SECPage_cards {
    /* border: 1px solid red; */
    height: 530px;
    width: 85%;
    margin-left: 7.5%;
    display: flex;
}

.Media_SECPage_sub_cards {
    width: 28%;
    height: 530px;
    border: 2px solid;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
    color: white;
}

.Media_SECPage_sub_cards_last {
    width: 13%;
    height: 530px;
    /* border: 1px solid palevioletred; */
    display: block;
}

.MCMLTOC {
    margin-right: 1%;
}

.MP_picCard1 {
    width: 100%;
    height: 220px;
}

.RedPhantom_Capital {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 15px 0px 15px;
}

.India_financial {
    padding: 0px 15px 0px 15px;
}

.side_small_cards,
.side_small_cards1,
.side_small_cards2 {
    width: 100%;
    height: 166px;
    /* border: 1px solid white; */
    background-image: url("../images1/techtoday.png");
    background-size: 100% 100%;
    color: rgb(248, 240, 240);
    font-size: 17px;
    font-weight: 500;
    padding: 70px 5px 0px 5px;
}

.side_small_cards1 {
    background-image: url("../images1/youthvalue.png");
}

.side_small_cards2 {
    background-image: url("../images1/nanotech.png");
}

.pbtodiv {
    margin-bottom: 15px;
}

.vis_arrow_right1 {
    position: absolute;
    transform: rotate(270deg);
    left:35%;
    top: 70PX;
}

.vis_arrow_right1 span {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(90deg);
    margin: 0px;
    animation: animate 2s infinite;
}

.vis_arrow_right1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.vis_arrow_right1 span:nth-child(3) {
    animation-delay: -0.4s;
}

/* thired section */

.med_logo1,
.med_logo2,
.med_logo3,
.med_logo5,
.med_logo7 {
    /* border: 1px solid red; */
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: -3% 0% 0% 84%;
}

.med_logo2 {
    margin: -10% 0% 0% 40%;
}

.med_logo3 {
    margin: -8% 0% 0% 85%;
}

.med_logo5 {
    margin: 100% 0% 0% 80%;
}

.med_logo7 {
    margin: -9% 0% 0% 85%;
}

.med_logo1:hover,
.med_logo2:hover,
.med_logo3:hover,
.med_logo5:hover,
.med_logo7:hover {
    background-color: aqua;
}

#MP_third_sec_main_div {
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border: 1px solid red; */
    position: relative;
    z-index: 2;
}

#MP_TPS_card_main_div {
    width: 85%;
    margin-left: 7.5%;
    height: auto;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.Social_media_head_CT {
    padding: 30px 0px 20px 0px;
    margin-left: 62%;
    padding-top: 70px;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ff006f, #9d00fa 50%);
}

.MP_TPS_card_eight_sub_cards {
    /* border: 1px solid white; */
    height: 260px;
    width: 25%;
}

.MYCA1 {
    width: 24%;
    background-image: url('../images1/film.jpg');
    background-size: 100% 100%;
    margin-bottom: 25px;
}

.MYCA2 {
    width: 24%;
    color: black;
    background-color: white;
}

.MYCA3 {
    margin-left: 2%;
    margin-right: 2%;
    width: 28%;
    border: 2px solid;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
}

.MYCA4 {
    width: 20%;
    background-image: url('../images1/film.jpg');
    background-size: 100% 100%;
}

.MYCA5 {
    width: 20%;
    margin-right: 2%;
    border: 3px solid;
    border-image: linear-gradient(to right, #ff006f, #9d00fa) 1;
}

.MYCA6 {
    margin-right: 2%;
    width: 28%;
    background-image: url('../images1/film.jpg');
    background-size: 100% 100%;
}

.MYCA7 {
    width: 24%;
    background-image: url('../images1/film.jpg');
    background-size: 100% 100%;
}

.MYCA8 {
    width: 24%;
    background-image: linear-gradient(to right, #ff006f, #9d00fa);
}

.hash_RPTN_head {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
}

.MD_TANMORE {
    font-size: 18px;
    text-align: start;
    padding: 0px 15px 0px 25px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #9d00fa, #ff006f 80%);
}

.accept_any_amount {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0px 15px 0px 15px;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    text-align: justify;
}

.Make_Changes {
    border-left: 2px solid red;
    border-right: 2px solid #9d00fa;
    margin: 30px 15px 0px 15px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

.Emp_At_RPTN {
    font-size: 14px;
    padding: 30px 15px 0px 15px;
    text-align: justify;
}

.CHANGE_COL {
    color: white;
    text-align: center;
    padding: 0px 15px 0px 15px;
    font-weight: bold;
    font-size: 20px;
}

.vis_arrow_right2 {
    position: absolute;
    transform: rotate(270deg);
    left: 80%;
    top: 65PX;
}

.vis_arrow_right2 span {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(90deg);
    margin: 0px;
    animation: animate 2s infinite;
}

.vis_arrow_right2 span:nth-child(2) {
    animation-delay: -0.2s;
}

.vis_arrow_right2 span:nth-child(3) {
    animation-delay: -0.4s;
}

/* section fourth */

#fourth_sec_All_main_div {
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border: 1px solid white; */
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.gallary_cltext {
    font-weight: bolder;
    font-size: 35px;
    padding: 80px 0px 40px 15%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #9d00fa, #ff006f 30%);
}

#LOGOES_card_main_div {
    /* border: 1px solid white; */
    width: 85%;
    margin-left: 7.5%;
    height: 280px;
    display: flex;
    justify-content: space-between;
}

.LOGOES_card_sub_div {
    border: 2px solid;
    box-sizing: border-box;
    padding-top: 18%;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
    width: 31%;
    background-image: url(../images1/shopee_slider.jpg);
    background-size: 100% 100%;
}

.logoes_text {
    font-size: 22px;
    margin-left: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.logoes_text:hover {
    color: rgb(7, 159, 159);
}

.vis_arrow_right_gal {
    position: absolute;
    transform: rotate(270deg);
    left: 400px;
    top: 70PX;
}

.vis_arrow_right_gal span {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(90deg);
    margin: 0px;
    animation: animate 2s infinite;
}

.vis_arrow_right_gal span:nth-child(2) {
    animation-delay: -0.2s;
}

.vis_arrow_right_gal span:nth-child(3) {
    animation-delay: -0.4s;
}

.get_in_touch {
    font-size: 35px;
    font-weight: bolder;
    padding: 100px 0px 40px 8%;
   
    /* margin: 30px 0px 40px 68%; */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #9d00fa, #ff006f 10%)
}

.vis_arrow_right_get_in {
    position: absolute;
    transform: rotate(270deg);
    left: 25%;
    top: 12%;
}

.vis_arrow_right_get_in span {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(90deg);
    margin: 0px;
    animation: animate 2s infinite;
}

.vis_arrow_right_get_in span:nth-child(2) {
    animation-delay: -0.2s;
}

.vis_arrow_right_get_in span:nth-child(3) {
    animation-delay: -0.4s;
}

#sub_to_NL {
    width: 85%;
    margin-left: 7.5%;
    height: 300PX;
    border: 2px solid;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
    display: flex;
    text-align: center;

}

.sub_to_NL_sub_sec,
.sub_to_NL_sub_sec1 {
    /* border: 1px solid white; */
    padding-top: 20PX;
    width: 50%;
    color: white;
    font-size: 18PX;
    font-weight: bold;
}

.sub_to_NL_sub_sec1 {
    border-left: 2px solid white;
    height: 280px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.input11 {
    color: white;
    outline: none;
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid;
    background-color: black;
    border-image: linear-gradient(to right, #ff006f 50%, #9d00fa) 1;
}

.input11::placeholder {
    color: white;
    padding-left: 10px;
}

.button11 {
    border: 2px solid;
    color: white;
    height: 45px;
    background-color: black;
    border-image: linear-gradient(to right, #ff006f 50%, #9d00fa) 1;
    font-weight: bold;
}

button11:hover {
    border-image: linear-gradient(to left, #ff006f 50%, #9d00fa) 1;
    color: rgb(12, 152, 152);

}

.readmore_button_med {
    box-sizing: border-box;
    width: 25%;
    padding: 2px;
    /* border: 1px solid red; */
}

.readmore_button_med:hover {
    cursor: pointer;
}

/* media query 1 */

@media screen and (min-width:320px) and (max-width: 480px) {

    /* first section */

    .media__first_page {
        height: 100vh;
        background-image: url(../../Components/images1/NewsndMedia__MV.jpg) !important;
        /* background-color: black; */
        /* border: 1px solid red; */
    }

    .rm_med_front1122{
        width: 80%;
        margin-left: 55%;
        }
    #media__main {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        color: white;
        padding-top: 200px;
        padding-right: 2%;

        padding-bottom: 200px;
    }

    .media__head {
        width: 25%;
        margin-left: 70%;
        font-size: 25px;
    }

    .media__news__head {
        text-align: end;
        box-sizing: border-box;
        border-right: 3px solid white;
        padding-right: 20px;
        width: 80%;
        margin-left: 15%;
    }

    .media__news {
        font-size: 35px;
    }

    .media__news__text {
        width: 90%;
        margin-left: 10%;
    }

    /* down Arrow */
    .arrow_right32 {
        bottom: 10%;
        left: 90%;
    }

    .arrow_right32 span {
        width: 1.25rem;
        height: 1.25rem;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
    }

    /* second section */

    #Media_sec_two_mainDiv {
        width: 100%;
        height: auto;
    }

    .Latest_News {
        margin-left: 10%;
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #Media_SECPage_cards {
        /* border: 1px solid red; */
        height: auto;
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
    }

    .Media_SECPage_sub_cards {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        /* border: 1px solid yellow; */
        color: white;
    }

    .Media_SECPage_sub_cards_last {
        display: none;
    }

    .MCMLTOC {
        margin-right: 1%;
    }

    .MP_picCard1 {
        width: 100%;
        height: 200px;
    }

    .India_financial {
        text-align: justify;
    }

    .vis_arrow_right1 {
        left: 78%;
        top: 4.3%;
    }

    .vis_arrow_right1 span {
        width: 1.2rem;
        height: 1.2rem;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
        margin: -8px;

    }

    /* thired section */

    #MP_third_sec_main_div {
        height: auto;
        /* border: 1px solid red; */
    }

    #MP_TPS_card_main_div {
        width: 90%;
        margin-left: 5%;
        height: auto;
        /* border: 1px solid yellow; */
    }

    .Social_media_head_CT {
        margin-left: 10%;
        font-size: 30px;
        padding-top: 35px;
    }

    .MP_TPS_card_eight_sub_cards {
        /* border: 1px solid white; */
        height: auto;
        width: 25%;
    }

    .MYCA1 {
        width: 50%;
        margin-bottom: 10px;
    }

    .MYCA2 {
        width: 50%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .MYCA3 {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        margin-bottom: 10px;
    }

    .MYCA4 {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    .MYCA5 {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 10px;
    }

    .MYCA6 {
        display: none;
        /* margin-bottom: 10px; */
    }

    .MYCA7 {
        width: 50%;
        margin-bottom: 10px;
    }

    .MYCA8 {
        width: 50%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .hash_RPTN_head {
        text-align: start;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .MD_TANMORE {
        text-align: start;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
    }

    .accept_any_amount {
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin: 0px 15px 0px 15px;
        padding: 0px 10px 0px 10px;
        font-size: 12px;
    }

    .Make_Changes {
        margin: 15px 15px 0px 15px;
        padding: 0px 10px 0px 10px;
    }

    .Emp_At_RPTN {
        font-size: 13px;
        padding: 15px 15px 0px 15px;
    }

    .CHANGE_COL {
        color: white;
        text-align: start;
        padding: 0px 10px 0px 10px;
        font-weight: bold;
        font-size: 15px;
    }

    .vis_arrow_right2 {
        position: absolute;
        transform: rotate(270deg);
        left: 78%;
        top:2.7%;
    }

    .vis_arrow_right2 span {
        width: 1.2rem;
        height: 1.2rem;
        margin: -8px;
        border-bottom: 3.5px solid white;
        border-right: 3.5px solid white;
    }

    /* fourth section */

    .LOGOES_card_sub_div {
        padding-top: 65%;
    }

    .med_logo1 {
        margin: 5% 0% 0% 70%;
    }

    .med_logo2 {
        margin: -8% 0% 0% 90%;
    }

    .med_logo3 {
        margin: -9% 0% 0% 87%;
    }

    .med_logo4 {
        margin: 210% 0% 0% 10%;
    }

    .med_logo5 {
        margin: 45% 0% 0% 5%;
    }

    .med_logo6 {
       display: none;
    }

    .med_logo7 {
        margin: -10% 0% 0% 50%;
    }

    #fourth_sec_All_main_div {
        height: auto;
        padding-bottom: 20px;
        /* border: 1px solid black; */
    }

    .get_in_touch {
        padding: 30px 0px 40px 10%;
        font-size: 30px;
    }

    .vis_arrow_right_get_in {
        left: 72%;
        top: 3.5%;
    }

    .vis_arrow_right_get_in span {
        width: 1.2rem;
        height: 1.2rem;
    }

    #sub_to_NL {
        width: 84%;
        margin-left: 8%;
        height: auto;
        border: 2px solid;
        border-image: linear-gradient(to right, #ff006f, #9d00fa) 1;
        flex-wrap: wrap;
    }

    .sub_to_NL_sub_sec,
    .sub_to_NL_sub_sec1 {
        /* border: 1px solid white; */
        padding-top: 20PX;
        width: 100%;
        color: white;
        font-size: 18PX;
        font-weight: bold;
    }

    .sub_to_NL_sub_sec1 {
        width: 100%;
        border: none;
        height: auto;
        margin-top: 10px;
        padding-bottom: 15px;
        line-height: 35px;
    }

    .http {
        font-size: 15px;
    }

    .input11 {
        width: 95%;
        height: 35px;
        margin-bottom: 10px;
        margin-right: 0px !important;
    }

    .input11::placeholder {
        color: white;
        padding-left: 10px;
        font-size: 14px;
    }

    .button11 {
        height: 35px;
        border-image: linear-gradient(to right, #ff006f 50%, #9d00fa) 1;
        font-weight: bold;
    }

    button11:hover {
        border-image: linear-gradient(to left, #ff006f 50%, #9d00fa) 1;
        color: rgb(12, 152, 152);

    }

    .readmore_button_med {
        box-sizing: border-box;
        width: 50%;
        padding: 2px;
        /* border: 1px solid red; */
    }
}

/* media query 2 */

@media screen and (min-width:480px) and (max-width: 768px) {

    /* first section */

    .rm_med_front1122{
        width: 20%;
        margin-left: 72%;
        }

    .media__first_page {
        height: 100vh;
    }

    #media__main {
        height: 100vh;
        padding-bottom: 100px;
        padding-top: 180px;
    }

    .media__head {
        width: 15%;
        margin-left: 75%;
    }

    .media__news {
        font-size: 45px;
    }
    .arrow_right32 {
        left: 90%;
    }

    .media__news__text {
        width: 71%;
        margin-left: 30%;
        font-size: 18px;
    }

    /* second section */

    #Media_sec_two_mainDiv {
        height: auto;
        padding-top: 50px;
    }

    .Latest_News {
        margin-left: 250px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .India_financial {
        text-align: justify;
    }

    #Media_SECPage_cards {
        /* border: 1px solid red; */
        height: auto;
        width: 85%;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Media_SECPage_sub_cards {
        width: 48%;
        height: auto;
        border: 2px solid;
        border-image: linear-gradient(to bottom, #ff006f 50%, #9d00fa) 1;
        margin-bottom: 10px;
        color: white;
    }

    .Media_SECPage_sub_cards_last {
        display: none;
    }

    .MCMLTOC {
        margin-right: 2%;
    }

    .MP_picCard1 {
        width: 100%;
        height: 220px;
    }

    .RedPhantom_Capital {
        font-size: 18px;
        font-weight: bold;
        padding: 20px 15px 0px 15px;
    }

    .India_financial {
        padding: 0px 15px 0px 15px;
    }

    .side_small_cards {
        display: none;
    }

    .pbtodiv {
        margin-bottom: 15px;
    }

    .vis_arrow_right1 {
        left: 500px;
        top: 50PX;
    }

    /* thired section */

    #MP_third_sec_main_div {
        height: auto;
        /* border: 1px solid red; */
    }

    #MP_TPS_card_main_div {
        width: 80%;
        margin-left: 10%;
        height: auto;
        /* border: 1px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        color: white;
    }

    .Social_media_head_CT {
        margin-left: 10%;
    }

    .MP_TPS_card_eight_sub_cards {
        /* border: 1px solid white; */
        height: auto;
        width: 25%;
    }

    .MYCA1 {
        width: 50%;
        margin-bottom: 10px;
    }

    .MYCA2 {
        width: 50%;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .MYCA3 {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        margin-bottom: 10px;
    }

    .MYCA4 {
        width: 48%;
        margin-right: 2%;
        margin-bottom: 10px;
    }

    .MYCA5 {
        width: 50%;
        margin-right: 0%;
        margin-bottom: 10px;
    }

    .MYCA6 {
        display: none;
        margin-bottom: 10px;
    }

    .MYCA7 {
        width: 50%;
        margin-bottom: 10px;
    }

    .MYCA8 {
        width: 50%;
        margin-bottom: 10px;
    }

    .vis_arrow_right2 {
        left: 350px;
    }

    /* section fourth */

    .med_logo1{
        margin: 5% 0% 0% 80%;
    }
    .med_logo2 {
        margin: -10% 0% 0% 91%;
    }
    
    .med_logo3 {
        margin: -5% 0% 0% 50%;
    }
    
    .med_logo4 {
        margin: 80% 0% 0% 5%;
    }
    
    .med_logo5 {
        margin: 50% 0% 0% 10%;
    }
    
    .med_logo6 {
       display: none;
    }
    
    .med_logo7 {
        margin: -8% 0% 0% 85%;
    }
    
    #fourth_sec_All_main_div {
        height: auto;
        padding-bottom: 100px;
        /* border: 1px solid white; */
    }

    .get_in_touch {
        padding: 50px 0px 40px 10%;
    }

    .vis_arrow_right_get_in {
        left: 45%;
        top: 6.5%;
    }

    #sub_to_NL {
        width: 80%;
        margin-left: 10%;
        height: auto;
        border: 2px solid red;
        border-image: linear-gradient(to right, #ff006f, #9d00fa) 1;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .sub_to_NL_sub_sec,
    .sub_to_NL_sub_sec1 {
        /* border: 1px solid white; */
        padding-top: 20PX;
        width: 100%;
    }

    .sub_to_NL_sub_sec1 {
        border-left: none;
        height: auto;
    }
}

/* media query 3 */

@media screen and (min-width:770px) and (max-width: 1024px) {

    /* first section */
    .media__first_page {
        height: 100vh;
    }

    #media__main {
        height: auto;
        padding-bottom: 100px;
        padding-top: 200px;
    }

    .media__head {
        width: 12%;
        margin-left: 78%;
    }

    .media__news {
        font-size: 45px;
    }

    .media__news__text {
        width: 70%;
        margin-left: 30%;
        font-size: 18px;
    }

    .rm_med_front1122{
        width: 18%;
        margin-left: 75%;
    }
    .ab_rmbtn {
        margin-left: 76%;
        width: 12%;
        cursor: pointer;
    }

    /* second section */

    #Media_sec_two_mainDiv {
        /* border: 1px solid white; */
        height: 100vh;
        padding-top: 30px;
    }

    .Latest_News {
        margin-left: 150px;
    }

    .India_financial {
        text-align: justify;
    }

    #Media_SECPage_cards {
        /* border: 1px solid red; */
        height: auto;
        width: 85%;
        margin-left: 10%;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Media_SECPage_sub_cards {
        width: 32%;
        height: auto;
        border: 2px solid;
        border-image: linear-gradient(to bottom, #ff006f 50%, #9d00fa) 1;
        margin-bottom: 10px;
        color: white;
    }

    .Media_SECPage_sub_cards_last {
        display: none;
    }

    .MCMLTOC {
        margin-right: 0%;
    }

    .MP_picCard1 {
        width: 100%;
        height: 220px;
    }

    .India_financial {
        padding: 0px 15px 0px 15px;
    }

    .side_small_cards {
        display: none;
    }

    .pbtodiv {
        margin-bottom: 15px;
    }

    .vis_arrow_right1 {
        left: 400px;
        top: 48PX;
    }

    /* third section */

    #MP_third_sec_main_div {
        height: auto;
        /* border: 1px solid red; */
        padding-bottom: 20px;
    }

    #MP_TPS_card_main_div {
        width: 80%;
        margin-left: 10%;
        height: auto;
        /* border: 1px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        color: white;
    }

    .Social_media_head_CT {
        margin-left: 10%;
    }

    .MP_TPS_card_eight_sub_cards {
        /* border: 1px solid white; */
        height: auto;
    }

    .MYCA1 {
        width: 33%;
        margin-bottom: 10px;
    }

    .MYCA2 {
        width: 33%;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .MYCA3 {
        margin-left: 2%;
        margin-right: 0%;
        width: 32%;
        margin-bottom: 10px;
    }

    .MYCA4 {
        width: 48%;
        height: 200px;
        margin-right: 2%;
        margin-bottom: 10px;
    }

    .MYCA5 {
        width: 50%;
        margin-right: 0%;
        margin-bottom: 10px;
    }

    .MYCA6 {
        display: none;
        margin-bottom: 10px;
    }

    .MYCA7 {
        width: 50%;
    }

    .MYCA8 {
        width: 50%;
        padding-bottom: 20px;
    }

    .vis_arrow_right2 {
        left: 350px;
    }

    /* section fourth */


    .med_logo1{
        margin: 5% 0% 0% 80%;
    }
    .med_logo2 {
        margin: -8% 0% 0% 75%;
    }
    
    .med_logo3 {
        margin: 1% 0% 0% 45%;
    }
    
    .med_logo4 {
        margin: 100% 0% 0% 5%;
    }
    
    .med_logo5 {
        margin: 40% 0% 0% 5%;
    }
    
    .med_logo6 {
       display: none;
    }
    
    .med_logo7 {
        margin: -8% 0% 0% 80%;
    }

    #fourth_sec_All_main_div {
        height: auto;
        padding-bottom: 100px;
        /* border: 1px solid white; */
    }

    .get_in_touch {
        padding: 50px 0px 40px 10%;
    }

    .vis_arrow_right_get_in {
        left:35%;
        top: 7%;
    }

    #sub_to_NL {
        width: 80%;
        margin-left: 10%;
        height: auto;
        border: 2px solid red;
        border-image: linear-gradient(to right, #ff006f, #9d00fa) 1;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .sub_to_NL_sub_sec,
    .sub_to_NL_sub_sec1 {
        /* border: 1px solid white; */
        padding-top: 20PX;
        width: 100%;
    }

    .sub_to_NL_sub_sec1 {
        border-left: none;
        height: auto;
    }

    .readmore_button_med {
        box-sizing: border-box;
        width: 20%;
        padding: 2px;
        /* border: 1px solid red; */
    }
}

/* media q 4 */

@media screen and (min-width:1025px) and (max-width:1440px) {
    
    /* second section */

#Media_sec_two_mainDiv {
    border: 1px solid white;
    padding-top: 30px;
}


#Media_SECPage_cards {
    /* border: 1px solid red; */
    height: 520px;
}

.Media_SECPage_sub_cards {
    height: 520px;
}

.Media_SECPage_sub_cards_last {
    height: 520px;
}

.side_small_cards,
.side_small_cards1,
.side_small_cards2 {
    height: 31.3%;
}

.vis_arrow_right1 {
    top: 50PX;
}

/* thired section */

.med_logo1,
.med_logo2,
.med_logo3,
.med_logo5,
.med_logo7 {
    /* border: 1px solid red; */
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: -6% 0% 0% 85%;
}

.med_logo2 {
    margin: -10% 0% 0% 40%;
}

.med_logo3 {
    margin: -8% 0% 0% 87%;
}

.med_logo7 {
    margin: -9% 0% 0% 88%;
}

#MP_third_sec_main_div {
    width: 100%;
    height: 100vh;
    background-color: black;
    /* border: 1px solid red; */
    position: relative;
    z-index: 2;
}

#MP_TPS_card_main_div {
    width: 85%;
    margin-left: 7.5%;
    height: auto;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.Social_media_head_CT {
    padding-top: 55px;
}

.MP_TPS_card_eight_sub_cards {
    /* border: 1px solid white; */
    height: 240px;
    width: 25%;
}

.MYCA1 {
    width: 24%;
    background-image: url('../images1/news-feed.png');
    background-size: 100% 100%;
    margin-bottom: 25px;
}

.MYCA2 {
    width: 24%;
    color: black;
    background-color: white;
}

.MYCA3 {
    margin-left: 2%;
    margin-right: 2%;
    width: 28%;
    border: 2px solid;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
}

.MYCA4 {
    width: 20%;
    background-image: url('../images1/news-feed.png');
    background-size: 100% 100%;
}

.MYCA5 {
    width: 20%;
    margin-right: 2%;
    border: 3px solid;
    border-image: linear-gradient(to right, #ff006f, #9d00fa) 1;
}

.MYCA6 {
    margin-right: 2%;
    width: 28%;
    background-image: url('../images1/news-feed.png');
    background-size: 100% 100%;
}

.MYCA7 {
    width: 24%;
    background-image: url('../images1/news-feed.png');
    background-size: 100% 100%;
}

.MYCA8 {
    width: 24%;
    background-image: linear-gradient(to right, #ff006f, #9d00fa);
}

.CHANGE_COL {
    font-size: 18px;
}

.vis_arrow_right2 {
    left: 80%;
    top: 45PX;
}



/* section fourth */

#fourth_sec_All_main_div {
    /* border: 1px solid white; */
}

.vis_arrow_right_get_in {
    top: 14%;
}

#sub_to_NL {
    width: 85%;
    margin-left: 7.5%;
    height: 280px;
    border: 2px solid;
    border-image: linear-gradient(to top, #ff006f, #9d00fa) 1;
    display: flex;
    text-align: center;

}

.sub_to_NL_sub_sec,
.sub_to_NL_sub_sec1 {
    /* border: 1px solid white; */
    padding-top: 20PX;
    width: 50%;
    color: white;
    font-size: 18PX;
    font-weight: bold;
}

.sub_to_NL_sub_sec1 {
    border-left: 2px solid white;
    height: 260px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.input11 {
    color: white;
    outline: none;
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid;
    background-color: black;
    border-image: linear-gradient(to right, #ff006f 50%, #9d00fa) 1;
}

.input11::placeholder {
    color: white;
    padding-left: 10px;
}

.button11 {
    border: 2px solid;
    color: white;
    height: 45px;
    background-color: black;
    border-image: linear-gradient(to right, #ff006f 50%, #9d00fa) 1;
    font-weight: bold;
}

button11:hover {
    border-image: linear-gradient(to left, #ff006f 50%, #9d00fa) 1;
    color: rgb(12, 152, 152);

}

.readmore_button_med {
    box-sizing: border-box;
    width: 25%;
    padding: 2px;
    /* border: 1px solid red; */
}

.readmore_button_med:hover {
    cursor: pointer;
}
}